<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="__LAYUIS__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUIS__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/bootstrap/css/bootstrap.min.css">
    <script src="__LAYUI__/jquery.min.js"></script>
    <script src="__LAYUI__/base.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    {if condition="$data['lx'] eq 1"}
                    总代
                    <select name="ids1" class="zaselect_ste" id="ids1" lay-ignore>
                        <option value="0">全部</option>
                        {if condition="$res"}
                        {foreach name="res" id="r1"}
                        <option value="{$r1['id']}" {if condition="$r1['select']"}selected="selected"{/if}>{$r1['kauser']}</option>
                        {/foreach}
                        {/if}
                    </select>
                    {/if}
                    {if condition="$data['lx'] neq 2"}
                    --代理
                    <select name="ids1" class="zaselect_ste" id="ids2" lay-ignore>
                        <option value="0">全部</option>
                        {if condition="$res1"}
                        {foreach name="res1" id="r2"}
                        <option value="{$r2['id']}" {if condition="$r2['select']"}selected="selected"{/if}>{$r2['kauser']}</option>
                        {/foreach}
                        {/if}
                    </select>
                    {/if}
                    <div class="layui-btn-group" style="float:right;">
                        <a class="layui-btn layui-btn-primary layui-btn-sm" href="{:url('index',['size'=>'all'])}" ><i class="layui-icon-group"></i>所有代理</a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm" href="{:url('index',['stat'=>0])}">开启</a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm" href="{:url('index',['stat'=>1])}">禁止</a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm" href="{:url('addmem')}">添加会员</a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:location.reload();">刷新</a>
                    </div>
                </div>
                <div class="layui-card-body" pad15>
                    <table class="layui-table" lay-even style="overflow:scroll;!important;">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>账号</th>
                            <th>姓名</th>
                            <th>信用额度/余额</th>
                            <th>代理</th>
                            {if condition="$data['lx'] elt 2"}<th>总代</th>{/if}
                            {if condition="$data['lx'] eq 1"}<th>股东</th>{/if}
                            <th>代%</th>
                            {if condition="$data['lx'] elt 2"}<th>总%</th>{/if}
                            {if condition="$data['lx'] eq 1"} <th>股%</th>{/if}
                            <th>类型</th>
                            <th>状况</th>
                            <th>注册时间</th>
                            <th>登录次数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if condition="$result neq null"}
                        {foreach name="result" id="r"}
                        <tr>
                            <td>{$r['id']}</td>
                            <td>{$r['kauser']}</td>
                            <td>{$r['xm']}</td>
                            <td>{$r['cs']}/{$r['ts']}</td>
                            <td>{$r['dan']}</td>
                            {if condition="$data['lx'] elt 2"} <td>{$r['zong']}</td>{/if}
                            {if condition="$data['lx'] eq 1"} <td>{$r['guan']}</td>{/if}
                            <td>{$r['dan_zc']*10}%</td>
                            {if condition="$data['lx'] elt 2"}<td>{$r['zong_zc']*10}%</td>{/if}
                            {if condition="$data['lx'] eq 1"}<td>{$r['zong_zc']*10}%</td>{/if}
                            <td>{$r['abcd']}盘</td>
                            <td>{if condition="$r['stat'] eq 0"}<img src="__IMAGES__/icon_21x21_selectboxon.gif">{else/}<img src="__IMAGES__/icon_21x21_selectboxoff.gif">{/if}</td>
                            <td>{$r['adddate']}</td>
                            <td>{$r['look']}</td>
                            <td>
                                <a class="layui-btn layui-btn-xs" href="{:url('updatemem',['id'=>$r['id']])}">编辑</a>
                                <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
                            </td>
                        </tr>
                        {/foreach}
                        {else/}
                        <tr>
                            {if condition="$data['lx'] eq 1"}<td colspan="15" align="center">暂无数据</td>{/if}
                            {if condition="$data['lx'] eq 2"}<td colspan="13" align="center">暂无数据</td>{/if}
                            {if condition="$data['lx'] eq 3"}<td colspan="11" align="center">暂无数据</td>{/if}
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                    <div id="pages">{$page}</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="__LAYUI__/layui.js"></script>
<link rel="stylesheet" href="__LAYUI__/base.css">
<style>
    .layui-table-body{
        overflow: auto;!important;
    }
</style>
<script>
    layui.use(['table'],function(){

    });
    $(function(){
        $('#ids1').change(function(){
            location.href="{:url('index')}?ids1="+$(this).val();
        });
        $('#ids2').change(function(){
            location.href="{:url('index')}?ids2="+$(this).val();
        });
    });
    function DelParter(id){
        var index = layer.confirm(
            '确定要删除?',
            {
                btn : ['确定','取消']
            },
            function(){
                $.post(
                    "{:url('')}",
                    {
                        id : id
                    },
                    function(data){
                        if(data.code == 0){
                            layer.msg(data.msg,{icon : 1,time : 2000},function(){
                                pageReload();
                            });
                        }
                        else{
                            layer.msg(data.msg,{icon : 2});
                        }
                    },
                    "json"
                );
            }
        );
    }

    function Edit(id){
        layer.open({
            type: 2,
            title: '编辑合作伙伴',
            shadeClose: true,
            shade: false,
            maxmin: true,
            area: ['600px', '500px'],
            content: '{:url(\'\')}?id='+id
        });
    }

    function Add(){
        layer.open({
            type: 2,
            title: '新增合作伙伴',
            shadeClose: true,
            shade: false,
            maxmin: true,
            area: ['600px', '500px'],
            closeBtn: 1,
            content: '{:url(\'\')}'
            /*
            end: function (){
                location.reload();
            }
            */
        });
    }

    function pageReload(){
        table.reload('tableShow', {
            where : queryData
        });
    }
</script>