<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注单查询结果</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="__LAYUIS__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__LAYUIS__/style/admin.css" media="all">
    <link rel="stylesheet" href="__LAYUI__/bootstrap/css/bootstrap.min.css">
    <script src="__LAYUI__/jquery.min.js"></script>
    <script src="__LAYUI__/base.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span style="color: red;">
                        {if condition="!empty($kithe) and !empty($username)"}
                        [{$username}]会员注单[{$kithe}期]查询列表
                        {else/}
                        注单查询表表
                        {/if}
                    </span>
                    <div class="layui-inline" style="margin-left: 20%;">
                        当前报表-->>
                        {if condition="$kithe"}
                            查第{$kithe}期
                        {else/}
                            日期区间：{$Think.post.start}-----{$Think.post.stop}
                        {/if}
                        &nbsp;&nbsp;&nbsp;&nbsp;投注品种：
                        {if condition="$Think.post.class2"}
                            {$Think.post.class2}
                        {else/}
                            全部
                        {/if}
                       &nbsp;&nbsp;&nbsp;查询种类：
                        {if condition="$Think.post.class"}
                            {switch name="Think.post.class"}
                            {case value="1"}会员账号{/case}
                            {case value="1"}下注单号{/case}
                            {case value="1"}下注盘类{/case}
                            {/switch}
                            ：{$Think.post.key}
                        {else/}
                            全部
                        {/if}
                    </div>
                    <div class="layui-btn-group" style="float:right;">
                        <a class="layui-btn layui-btn-primary layui-btn-sm" href="{:url('index')}">返回</a>
                        <a class="layui-btn layui-btn-primary layui-btn-sm" href="javascript:location.reload();">刷新</a>
                    </div>
                </div>
                <form action="{:url('cha')}" method="post" id="form1" class="layui-form">
                    <div class="layui-form-item" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <select name="class" id="class">
                                <option  value="" selected>-全部-</option>
                                <option value="1">会员账号</option>
                                <option value="2">下注单号</option>
                                <option value="3">下注盘类</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 150px;">
                            <input type="text" name="key" autocomplete="off" class="layui-input" placeholder="用户名">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-block" style="margin-left: 0;">
                            <select name="class2" id="class2">
                                <option value="" selected="selected">-----选择投注品种-----</option>
                                <option value="特A">特码：特A</option>
                                <option value="特B">特码：特B</option>
                                <option value="正A">正码：正A</option>
                                <option value="正B">正码：正B</option>
                                <option value="正1特">正特：正1特</option>
                                <option value="正2特">正特：正2特</option>
                                <option value="正3特">正特：正3特</option>
                                <option value="正4特" >正特：正4特</option>
                                <option value="正5特" >正特：正5特</option>
                                <option value="正6特" >正特：正6特</option>
                                <option value="正码1" >正1-6：正码1</option>
                                <option value="正码2"  >正1-6：正码2</option>
                                <option value="正码3"  >正1-6：正码3</option>
                                <option value="正码4"  >正1-6：正码4</option>
                                <option value="正码5" >正1-6：正码5</option>
                                <option value="正码6" >正1-6：正码6</option>
                                <option value="过关" >过关</option>
                                <option value="三全中" >连码：三全中</option>
                                <option value="三中二" >连码：三中二</option>
                                <option value="二全中" >连码：二全中</option>
                                <option value="二中特"  >连码：二中特</option>
                                <option value="特串" >连码：特串</option>
                                <option value="特肖" >生肖：特肖</option>
                                <option value="四肖"  >生肖：四肖</option>
                                <option value="五肖" >生肖：五肖</option>
                                <option value="六肖"  >生肖：六肖</option>
                                <option value="三肖" >生肖：三肖</option>
                                <option value="二肖" >生肖：二肖</option>
                                <option value="一肖" >生肖：一肖</option>
                                <option value="半波" >半波</option>
                                <option value="半半波" >半半波</option>
                                <option value="头数">头数</option>
                                <option value="尾数">尾数</option>
                                <option value="正特尾数">正特尾数</option>
                                <option value="正肖">正肖</option>
                                <option value="七色波">七色波</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" style="width: 150px;">
                        <div class="layui-input-block" style="margin-left: 0;">
                            {if condition="$kitheAll"}
                            <select name="kithe">
                                <option value="" selected="selected">按时间来查</option>
                                {foreach name="kitheAll" id="k"}
                                <option value="{$k['nn']}">第{$k['nn']}期</option>
                                {/foreach}
                            </select>
                            {/if}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 150px;">
                            <input type="text" name="start" id="start" placeholder="开始时间" autocomplete="off" class="layui-input" lay-key="1">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 150px;">
                            <input type="text" name="end" id="stop" placeholder="结束时间" autocomplete="off" class="layui-input" lay-key="2">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <div class="layui-input-block" style="margin-left: 0;">
                            <button class="layui-btn" lay-submit>提交</button>
                        </div>
                    </div>
                </div>
                </form>
                <div class="layui-card-body" pad15>
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>会员</th>
                            <th>下单时间</th>
                            <th>期数</th>
                            <th>下注金额</th>
                            <th>赔率</th>
                            <th>退佣%</th>
                            <th>类型1</th>
                            <td>类型2</td>
                            <td>球号</td>
                        </tr>
                        </thead>
                        <tbody>
                        {if condition="$result"}
                        {foreach name="result" id="r"}
                            <tr>
                                <td>{$r['id']}</td>
                                <td>{$r['username']}(<span style="color:#ff6600;">{$r['mem']['xm']}</span>)</td>
                                <td>{$r['kithe']}</td>
                                <td>{$r['sum_m']}</td>
                                <td>{$r['rate']}</td>
                                <td>{$r['user_ds']|round=2}</td>
                                <td>{$r['class1']}</td>
                                <td>{$r['class2']}</td>
                                <td>{$r['class3']}</td>
                            </tr>
                        {/foreach}
                            <tr>
                                <td colspan="2" align="center">总计：</td>
                                <td>{$z_re}</td>
                                <td></td>
                                <td>{$z_sum}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr><td colspan="9" align="center">{$page}</td></tr>
                        {else/}
                        <tr><td colspan="9">暂无数据</td></tr>
                        {/if}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__LAYUI__/layui.js"></script>
<link rel="stylesheet" href="__LAYUI__/base.css">
<script>
    layui.use('laydate',function () {
        var laydate=layui.laydate;
        laydate.render({
            elem:'#start',
        })
        laydate.render({
            elem:'#stop',
        })
    })

    layui.use('form',function(){
        var form = layui.form;
        var layer=layui.layer;
        form.on('submit(save)', function (data){
            var params = data.field;
            $.post(
                "{:url('save')}",
                params,
                function(response){
                    if (response.code == 0){
                        layer.msg(response.msg,{icon:1},function(){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            window.parent.location.reload();
                        });
                    }else{
                        layer.msg(response.msg,{icon:2});
                    }
                },
                "json"
            );
            return false;
        });
        form.render();
    });
</script>
</body>
</html>
